@use "../shiki.scss";

/* Code */
:not(pre) code {
  color: var(--color-accent);
  font-family: var(--font-mono);
  font-size: 0.85em;
  padding: 0 2px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

/* Expressive Code */
.expressive-code {
  margin-bottom: var(--space-4);

  @media (max-width: 768px) {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0 !important;

    .gutter { display: none; }
    
    pre { border-radius: 0 !important; }
    
    .copy button { opacity: 0 !important; }
    
    .frame:focus-within .copy button:not(:hover),
    .frame:hover .copy button:not(:hover) { opacity: 0.75 !important; }
    
    .copy button:hover,
    .copy button:focus,
    .copy .feedback.show ~ button { opacity: 1 !important; }
    
    pre.wrap .ec-line .code {
      white-space: pre !important;
      overflow-wrap: normal !important;
    }

    .ec-line .code {
      border-inline-start: none !important;
    }
  }

  figcaption.header {
    border-radius: 0 !important;
  }

  /* Remove all rounded corners from code blocks */
  pre,
  figcaption {
    border-radius: 0 !important;
  }
}

/* Indent support */
.indent {
  display: inline-block;
  width: 2rem;
}
