.content{
  line-height: 1.4;
  border-top: 1px solid #b3b9b4;
  padding-bottom: 5px;
  border-bottom: 1px solid #b3b9b4;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 5px;
}

.post_meta {
  font-size: smaller;
  margin-bottom: 1em;
  line-height: 1.3rem;
}

.update_date::before {
  content: "·";
  padding: 0 4px;
}

.category, .tags {
  display: inline-block;
}

.category, .tags > span:not(:last-child)::after {
  content: ", ";
}
