.layout {
  max-width: 55rem;
  margin: 0 auto 1rem auto;
  border-bottom: 1px solid var(--hr-color);
}

.header {
  padding-bottom: 5px;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--hr-color);
  display: flex;
  align-items: center;
  user-select: none;
}
.header :first-child {
  font-size: 1.75rem;
  margin-right: auto;
}
.header * {
  text-decoration: none;
  color: var(--title-color);
  cursor: pointer;
}
.header *:not(:last-child) {
  padding-right: 16px;
}
