.layout{
  max-width: 60rem;
  margin: 0 auto;
}

.header{
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  border-bottom-color: var(--header-border-color);
  display: flex;
  align-items: center;
  user-select: none;
}
.header :first-child{
  font-size: 1.75rem;
  margin-right: auto;
}
.header *{
  text-decoration: none;
  color: var(--title-color);
  cursor: pointer;
}
.header *:not(:last-child){
  padding-right: 16px;
}

.body {
  color: var(--text-color);
  font-size: larger;
}