html {
  width: 100%;
  height: 100%;
}

body {
  margin: none;
  overflow-y: scroll;
  color: var(--text-color);
  font-size: x-large;
  font-family: monospace;
}

a{
  color: var(--link-color);
}

a:hover{
  color: var(--link-hover-color);
}

:root {
  --text-color: #000;
  --title-color: #000;
  --link-color: #0a6161;
  --link-hover-color: #3bf382;
  --hr-color: #4d4646;
  --code-bg: #f9fdfb;
  --code-border: #c7c3bd;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1a1c1d;
  }

  :root {
    --text-color: #fff;
    --title-color: #fff;
    --link-color: #42d9d9;
    --code-bg: #1c1e1f;
    --code-border: #3e4446;
  }
}