html {
  width: 100%;
  height: 100%;
}

body {
  margin: none;
  overflow-y: scroll;
  color: var(--text-color);
  font-size: large;
  font-family: monospace;
}

a{
  color: var(--link-color);
}

a:hover{
  color: var(--link-hover-color);
}

ul:has(li>input){
  list-style: none;
  padding: 0;
}


/* TODO: alternative proposal */
.task-list-item input[type="checkbox"] {
  display: none;
}

.task-list-item {
  position: relative; /* 绝对定位 */
  padding-left: 1.5em; /* 左边距 */
}

.task-list-item::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;

  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  width: 1em;
  height: 1em;
  border: 1px solid #ccc; 
  border-radius: 1px;
  background-color: var(--header-border-color); 
}

.task-list-item:has(input[type="checkbox"]:checked)::before {
  background-color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.task-list-item:has(input[type="checkbox"]:checked)::after {
  content: "";
  position: absolute;
  left: 0.3em;
  top: 0.2em;
  width: 5px;
  height: 10px;
  border: solid #0a6161;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


:root {
  --text-color: #000;
  --title-color: #000;
  --link-color: #0a6161;
  --link-hover-color: #3bf382;
  --hr-color: #4d4646;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1a1c1d;
  }

  :root {
    --text-color: #fff;
    --title-color: #fff;
    --link-color: #42d9d9;
  }
}

/* @Reference https://brevzin.github.io/ */
.hint {
  padding: 10px;
}

.hint::before {
  content: "\f06a";
  margin: 0 10px;
}

.hint.warn {
  background-color: #ffae1795;
}
.hint.tip {
  background-color: #09477dcc;
}
.hint.error {
  background-color: #682109cc;
}

.hint.warn::before {
  color: #ffff27cc;
}
.hint.tip::before {
  color: #77ffff;
}
.hint.error::before {
  color: #ff5c5c;
}
