pre {
  margin: 16px 0;
  border-radius: 8px;
  padding: 14px;
  overflow-y: visible;
  overflow-x: auto;
}

.line {
  display: block;
}

/* reference: https://siaofei.github.io/note/demo-shiki-syntax-highlighting/ */

:not(pre) > code {
  padding: 0 4px;
  background-color: #f8f8f8; /* bg-gray-100 */
  border-radius: 4px;
  color: #3772cf;
  background-color: #3772cf20;
}

pre {
  &.has-diff code {
    .line.diff.add {
      background-color: #a6da95; /* bg-[#a6da95] */
      &::after {
        float: right;
        margin-right: 0.625rem; /* mr-2.5 */
        content: "+";
      }
    }
    .line.diff.remove {
      background-color: #f28fad; /* bg-[#f28fad] */
      &::after {
        float: right;
        margin-right: 0.625rem; /* mr-2.5 */
        content: "-";
      }
    }
  }

  &.has-highlighted code {
    .line.highlighted {
      background-color: #d1d5db; /* bg-gray-300 */
      &.error {
        background-color: rgba(217, 83, 79, 0.737); /* bg-[#d9534fBC] */
      }
      &.warning {
        background-color: #f4a261; /* bg-[#f4a261] */
      }
    }
  }

  &.has-focused code {
    .line {
      filter: blur(0.095rem);
      &.focused {
        filter: blur(0);
      }
    }
  }

  code {
    @media screen and (min-width: 820px) {
      counter-reset: step;
      counter-increment: step 0;
      & > .line::before {
        content: counter(step);
        counter-increment: step;
        margin-right: 1.5rem; /* mr-6 */
        display: inline-block;
        width: 1rem;
        text-align: right;
        color: #9d7cd8; /* text-[#9d7cd8] */
      }
    }

    & > .line {
      display: block;
      width: fit-content;
      padding-right: 0.75rem;
    }

    .highlighted-word {
      border-radius: 0.375rem; /* rounded-md */
      border: 1px solid #d1d5db; /* border-gray-300 */
      background-color: #f1f5f9; /* bg-slate-100 */
      padding: 0.25rem; /* p-1 */
    }
  }
}

pre::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
pre::-webkit-scrollbar-thumb {
  background-color: #21272f; /* bg-gray-300 */
  border-radius: 0.25rem;
}
